results
logs
*.pyc
__pycache__
dist
build
robotframework_dashboard.egg-info
robot_results.db
robotdashboard*.html
robot_dashboard*.html
robot_logs
index.txt
.pabotsuitenames
*.db
*.vscode
log.html
output.xml
report.html
browser/
playwright-log.txt
screenshots/

# docs entries
node_modules
docs/.vitepress/dist
docs/.vitepress/cache
